<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>All Posts</title>
    <style>
        a {
            text-decoration: none;
            color: chocolate;
        }
    </style>
</head>

<body>
    <h1>Quora Posts</h1>
    <% for (let post of posts) { %>
        <div class="post">
            <h3 class="user">@<%= post.username %>
            </h3>
            <h4 class="content">
                <%= post.content %>
            </h4>
            <a href="http://localhost:8080/posts/<%=post.id%>">Click Here To View in Detail</a>

            <br><br>
        </div>
        <% } %>
            <br><br>
            <a href="http://localhost:8080/posts/new"> Click Here For New Post</a>
</body>

</html>