<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form action="/posts" method="post">
        <p>Enter Your User Name : <input type="text" name="username" placeholder="Enter Username"></p>
        <p>Enter Your Content : <textarea name="content" cols="20" rows="1"></textarea></p>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>