<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <style>
        h3{
            color: burlywood;
        }   
    </style>
</head>

<body>
    <h3>HERE IS YOUR POST IN DETAIL </h3>
    <hr>
    <p>Post id is : <%= post.id %>
    </p>
    <p>Post UserName : <%= post.username %>
    </p>
    <p>Post Content : <%= post.content %>
    </p>
</body>

</html>