<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This Is the Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil corrupti qui eaque exercitationem nulla nisi
        maxime aut! Et consequatur iure numquam. Aliquam, similique quod nam ipsa blanditiis laudantium? Aperiam, ipsa.
        Veniam, omnis inventore ratione at architecto, delectus veritatis ipsa libero, ut aut ducimus enim? Magni ipsa
        quasi, explicabo exercitationem veniam rem illo pariatur iure eius, adipisci, expedita tempora error sint.
        Explicabo optio provident similique ea tenetur maiores ad asperiores magnam hic! Sapiente vitae rerum
        perspiciatis nisi, commodi veniam odio placeat at repellendus ipsa asperiores iste praesentium! Ad amet
        dignissimos voluptatem!
        Iure architecto maxime amet obcaecati non perferendis, beatae at quas doloribus quisquam inventore nemo
        voluptatem? Atque nemo placeat molestias porro assumenda perspiciatis ea quae eveniet quisquam perferendis, vel,
        dolorum quidem!
        Quasi corrupti minima labore animi tenetur eos quo quas tempora impedit nemo modi a autem, laboriosam dolorum.
        Odit, voluptas atque aliquam, iste molestiae assumenda adipisci voluptate libero totam, rem saepe?</p>
    <button class="submit">CLICK ME</button>
</body>

</html>