<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InstaGram</title>
</head>

<body>
    <h2>This page belong to <%= username%>
    </h2>
    <h3>
        <!-- HERE FOLLOWERS ARRAY IS PASSED FROM INDEX.JS AND IT IS WRRITTEN IN HTML USING INTERPOLATION SYNTAX -->
        Followers Are :
        <ul>
            <% for (let name of followers) { %>
                <li>
                    <%= name %>
                </li>
                <% }%>
        </ul>
    </h3>
    <button>Follow</button><button>Message</button>
</body>

</html>